*
analysis
analysis/*
!analysis/README.md
!config
!config/**
!resources
!results/*
!results
!results/*
!workflow
!workflow/**
!.gitattributes
!.editorconfig
!.flake8
!pyproject.toml
!.vscode
!.vscode/*
!.test
!run.sh
!setup.sh
!LICENSE
!README.md
!/**/*.smk
!/**/Snakefile
!/**/.gitkeep
!/**/.gitignore
/**/.ipynb_checkpoints/*
